body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-Image {
    width: 180px;
}

h2 {
    color: #5F5D9C;
    margin-bottom: 5px; 
    font-size: 18px;
}

p {
    margin: 30px; 
    font-size: 12px;
}

input[type="tel"],
input[type="tel"]:focus {
    padding: 12px;
    font-size: 14px; 
    border: 1px solid #56A37D; 
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #F2F7F4;
    color: black;
    width: 210px; 
}

button {
    background-color: #56A37D;
    color: white;
    font-size: 12px;
    padding: 12px 22px; 
    border-radius: 8px;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    width:200px;
    margin-top: 18px;
}

button:hover {
    background-color: #3E795C; 
}
